.hero-content{
    background-color: #ffedcc;
}

.content{
    padding-top: 7rem;
}

.content h2{
    font-size: 5rem;
}

.promote-independence h4{
    font-size: 1.6rem;
    margin-block: 1rem;
}


.android-icon{
    font-size: 3rem;
}

.sign-me-up{
    background-color: #1140C0;
}

.sign-me-up h3{
    color: #69F1FF;
}

.sign-me-up button{
    background-color: #e3ff96;
    color: #1140C0;
}

.rx-human{
    height: 35vh;
}
.rx-human img{
    position: absolute;
}

.pepsi-coke{
    transform: rotate(-4deg);
}

.mother-daughter{
    transform: rotate(7deg);
}

.old-aunty{
    transform: rotate(5deg);
}

.meet-papa i{
    background-color: #69f1ff; 
    font-size: 4rem;
    color: #1140C0;
    left: 50%;
    top: -3rem;
    clip-path: circle();
}



@media (max-width: 991px){
    .content h2{
        font-size: 3rem;
    }
}

@media (max-width:768px){
    .rx-human{
        margin-top: 2rem !important;
    }
}

@media (max-width:500px){
    .rx-human{
        margin-top: 1rem !important;
    }
}