.users h2{
    font-size: 6rem;
}
.users .padding{
    padding: 6rem 0;
}
.users button{
    background-color: #69F1FF;
    color: #1140C0;
}

.one{
    transform: scale(1) rotate(-1deg) translateZ(0px);
}
.two{
    transform: scale(1) rotate(13deg) translateZ(0px);
}
.three{
    transform: scale(1) rotate(5deg) translateZ(0px);
}


@media (max-width:991px){
    .users .height{
        height: 50vh;
    }
    .users .padding{
        padding: 3rem 0;
    }
}
@media (max-width: 768px){
    .users h2{
        font-size: 4rem;
    }
    .users .padding{
        padding: 2rem 0;
    }
}

@media (max-width: 500px){
    .users h2{
        font-size: 2rem;
    }
    .users .padding{
        padding: 1rem 0;
    }
}

.human-icon{
    bottom: 5rem;
    background-color: #69F1FF;
    padding: 2.3rem;
    clip-path: circle();
    left: 3rem;
    z-index: 3;
}
.human-icon .fs-4{
    top: 2.5rem;
    left: .5rem;
    color: #fff;
}
.human-icon .fs-1{
    top: .7rem;
    color: #FFFFFF;
    left: .9rem;
    font-size: 3rem !important;
}
