.users h2{
    font-size: 6rem;
}
.users .padding{
    padding: 6rem 0;
}
.users button{
    background-color: #69F1FF;
    color: #1140C0;
}

.one{
    transform: scale(1) rotate(-1deg) translateZ(0px);
}
.two{
    transform: scale(1) rotate(13deg) translateZ(0px);
}
.three{
    transform: scale(1) rotate(5deg) translateZ(0px);
}


@media (max-width:991px){
    .users .height{
        height: 50vh;
    }
    .users .padding{
        padding: 3rem 0;
    }
}
@media (max-width: 768px){
    .users h2{
        font-size: 4rem;
    }
    .users .padding{
        padding: 2rem 0;
    }
}

@media (max-width: 500px){
    .users h2{
        font-size: 2rem;
    }
    .users .padding{
        padding: 1rem 0;
    }
}